.main-area{
    display: flex;
    main{
        flex: 1;
    }
    aside{
        flex: 1;
        background: $colorGrey200;
        .info-box{
            &__bg{
            }
            &__content{
                
            }
        }
    } 
}

.block{
    will-change: transform;
    position: relative;
    display: flex;
    height: 350px;
    transition: 0.42s ease-in;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 8px;
    @media all and (min-width: $medium){
      margin-bottom: 0px;
    }
    &__work-title{
      position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate( -50%, -50%);
      left: 32px;
      bottom: 24px;
      color: #fff;
      margin: auto;
      z-index: 20;
      display: flex;
      flex-direction: row;
      // font-weight: 300;
      // border-bottom: 2px #fff solid;
      p{
        margin: 0;
        display: flex;
        align-items: center;
        // font-size: 1em;
      }
      .left-area{
          margin: auto 12px auto 0;
      }
      .right-area{
          margin: auto 0;
      }
    }
    &__overlay{
      z-index: 10;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: 0.42s ease-in;
      will-change: transform;
      opacity: 0.72;
      @media all and (min-width: $medium){
        opacity: 0.90;
      }
      &.sparq-learning{
          background: #000;
          //background: #274679;
      }
      &.propeller-ideas{
          background: #000;
          //background: #f56b21;
      }
      &.photography{
          background: #000;
          //background: $colorPinkA400;
      }
      &.ryerson{
          background: #000;
          //background: #004c9b;
      }
      &.lfcc{
         background: #000;
          //background: #8dc63f;
      }
      &.calcutip{
          background: #000;
          //background: $colorAmber500;
      }
      &.kakao{
          background: #000;
          //background: #00bcd4;
      }
      &.tumblr{
          background: #000;
          //background: $colorBlueGrey900;
      }
      &.pearson{
          background: #000;
          //background: $colorBlue700;
      }
      &.sony-centre{
          background: #000;
          // background: $colorTealA700;
      }
      &.toronto-timelapse{
          background: #000;
          //background: $colorBlueGrey700;
      }
    }
    &__bg-image{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transition: 0.42s ease-out;
      background-size: cover;
      will-change: transform;
      transform: scale(1.35);
      transform-origin: center center;
      @media all and (min-width: $medium){
        transform: none;
      }
      &.sparq-learning{
        background-image: url('../images/screenshots/sparq-screenshot.png');
      }
      &.propeller-ideas{
        background-image: url('../images/screenshots/propeller-screenshot.png');
      }
      &.photography{
        background-image: url('../images/screenshots/photography-screenshot-2.png');
      }
      &.ryerson{
        background-image: url('../images/screenshots/ryerson-screenshot.png');
      }
      &.lfcc{
        background-image: url('../images/screenshots/lfcc-screenshot.png');
      }
      &.calcutip{
        background-image: url('../images/screenshots/calcutip-screenshot.png');
      }
      &.kakao{
        background-image: url('../images/screenshots/kakao-screenshot.png');
      }
      &.tumblr{
        background-image: url('../images/screenshots/tumblr-screenshot.png');
      }
      &.pearson{
        background-image: url('../images/screenshots/pearson-screenshot.png');
      }
      &.sony-centre{
        background-image: url('../images/screenshots/sonycentre-screenshot.png');
      }
      &.toronto-timelapse{
        background-image: url('../images/screenshots/torontotimelapse-screenshot.png');
      }
    }
    &:hover{
      z-index: 50;
      transition: 0.72s ease-in-out;
      box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.26);
      transform: scale(1.005);
      .block{
        &__overlay{
          opacity: 0.72;
          transition: 0.72s ease-out;
        }
        &__bg-image{
          transform: scale(1.35);
          transition: 2s ease-out;
        }
        &__work-title{
          border-bottom: 2px $colorCyanA200 solid;
          transition: 0.72s ease-out;
        }
      }
    }
}

.headline{
    &__bg{
        padding-top: 200px;
        padding-bottom: 200px;
    }
    &__content{
        .title-area{
            h1{
                font-size: 2.5em;
            }
        }
    }
}

.about{
    &__bg{

    }
    &__content{

    }
}

.specialization{
    &__bg{

    }
    &__content{

    }
}

.work{
    &__bg{

    }
    &__content{

    }
}

.contact{
    &__bg{

    }
    &__content{

    }
}