.nav{
    &--main{
        position: fixed;
        top: 0;
        background: #000;
        opacity: 0.87;
        min-height: 60vh;
        width: 100%;
        z-index: 100;
        ul{
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            li{
                list-style-image: none;
                list-style-type: none;
                margin: 0;
                padding-top: 64px;
                padding-bottom: 64px;
                color: #fff;
            }
        }
    }
}

.gradient-wrapper{
    background: linear-gradient($colorGrey200, #fff);
}

.headline{
    // headline__bg
    &__bg{
        height: 90vh;
        width: 100%;
        background: $colorGrey200;
    }
    &__content{
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        cursor: default;
        .arrow-down{
            border-radius: 50%;
            width: 32px;
            height: 32px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: 0.42s ease-out;
            cursor: pointer;
            img{
              transform: scale(1.25);
            }
            &:hover{
                box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.26);
                transition: 0.28s ease-out;
            }
        }
        .title-area{
            width: 900px;
            max-width: 100%;
            padding: 24px;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            // color: #fff;
            font-weight: 500;
            .title{
                margin-right: 12px;
                h1{
                    // font-size: 1.5em;
                    // color: $colorPink500;
                    margin: 0;
                }
            }
            .subtitle{
                margin-left: 12px;   
                p{
                    font-size: 1.125em;
                    // color: #000;
                    margin: 0;
                }
            }
        }
    }
}

.about{
    &__bg{
        // background: $colorGrey100;
    }
    &__content{
        padding-top: 100px;
        padding-bottom: 100px;
        .title-area{
            width: 300px;
            max-width: 100%;
            // border-bottom: $colorPink300 solid 2px;
            h2{
                font-size: 1.250em;
                font-weight: 600;
                @media all and (min-width: $medium){
                    font-size: 1.5em;
                } 
                line-height: 64px;
                margin-bottom: 16px; 
            }
        }
        .content-area{
            // max-width: 500px; 
            padding-top: 32px;  
            &__title{
                text-align: center;
            }
            &__content{
                text-align: center;
                @media all and (min-width: $medium){
                    text-align: center;
                }
                p{
                    font-size: 0.875em;
                    @media all and (min-width: $medium){
                        font-size: 1em;
                    }
                }
                .social-media-area{
                    margin-top: 82px;
                    ul{
                        justify-content: center;
                    }
                }
            }
        }
    }
}

.portrait-area{
    height: auto;
    width: 100%;
    margin: auto;
    margin-bottom: 100px;
    img{
        border-radius: 50%;
    }
}

.md-card{
    border-radius: 3px;
    &--padding{
        padding: 48px 34px;
    }
    @media all and (min-width: $medium){
        padding: 100px 150px;
    }
    width: 100%;
    background: #fff;
}

.specialization{
    &__bg{
    }
    &__content{
        padding-top: 100px;
        padding-bottom: 100px;
        .title-area{
            max-width: 100%;
            h2{
                font-size: 1.250em; 
                font-weight: 600;
                @media all and (min-width: $medium){
                    font-size: 1.5em;
                }  
                line-height: 64px;
            }
        }
        .content-area{
            p{
              font-size: 0.875em;
                @media all and (min-width: $medium){
                    font-size: 1em;
                }
            }
        }
    }
}

.work{
    &__bg{
    }
    &__content{
        padding-top: 150px;
        padding-bottom: 150px;
        .title-area{
            // width: 275px;
            max-width: 100%;
            h2{
                font-size: 1.250em; 
                font-weight: 600;
                @media all and (min-width: $medium){
                    font-size: 1.5em;
                } 
                line-height: 64px;
            }
        }
        .content-area{ 
            p{
                // font-size: 0.875em;
                @media all and (min-width: $medium){
                    font-size: 1em;
                }
            }
        }
        .work-area{
          // background: #fff;
          display: flex;
          .block{
              will-change: transform;
              position: relative;
              display: flex;
              height: 350px;
              transition: 0.42s ease-in;
              overflow: hidden;
              cursor: pointer;
              &__work-title{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate( -50%, -50%);
                color: #fff;
                margin: auto;
                z-index: 20;
                display: flex;
                flex-direction: row;
                font-weight: 500;
                p{
                  margin: 0;
                  display: flex;
                  align-items: center;
                  font-size: 1.500em;
                }
                .left-area{
                    margin: auto 12px auto 0;
                }
                .right-area{
                    margin: auto 0;
                }
              }
              &__overlay{
                z-index: 10;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transition: 0.42s ease-in;
                will-change: transform;
                opacity: 0.90;
                @media all and (min-width: $medium){
                  opacity: 1;
                }
                &.sparq-learning{
                    background: #274679;
                }
                &.propeller-ideas{
                    background: #f56b21;
                }
                &.photography{
                    background: $colorPinkA400;
                }
                &.ryerson{
                    background: #004c9b;
                }
                &.lfcc{
                    background: #8dc63f;
                }
                &.calcutip{
                    background: $colorAmber500;
                }
                &.kakao{
                    background: #00bcd4;
                }
                &.tumblr{
                    background: $colorBlueGrey900;
                }
                &.pearson{
                    background: $colorBlue700;
                }
                &.sony-centre{
                    background: $colorTealA700;
                }
                &.toronto-timelapse{
                    background: $colorBlueGrey700;
                }
              }
              &__bg-image{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                transition: 0.42s ease-out;
                background-size: cover;
                will-change: transform;
                transform: scale(1.35);
                transform-origin: center center;
                @media all and (min-width: $medium){
                  transform: none;
                }
                &.sparq-learning{
                  background-image: url('../images/screenshots/sparq-screenshot.png');
                }
                &.propeller-ideas{
                  background-image: url('../images/screenshots/propeller-screenshot.png');
                }
                &.photography{
                  background-image: url('../images/screenshots/photography-screenshot-2.png');
                }
                &.ryerson{
                  background-image: url('../images/screenshots/ryerson-screenshot.png');
                }
                &.lfcc{
                  background-image: url('../images/screenshots/lfcc-screenshot.png');
                }
                &.calcutip{
                  background-image: url('../images/screenshots/calcutip-screenshot.png');
                }
                &.kakao{
                  background-image: url('../images/screenshots/kakao-screenshot.png');
                }
                &.tumblr{
                  background-image: url('../images/screenshots/tumblr-screenshot.png');
                }
                &.pearson{
                  background-image: url('../images/screenshots/pearson-screenshot.png');
                }
                &.sony-centre{
                  background-image: url('../images/screenshots/sonycentre-screenshot.png');
                }
                &.toronto-timelapse{
                  background-image: url('../images/screenshots/torontotimelapse-screenshot.png');
                }
              }
              &:hover{
                z-index: 50;
                transition: 0.42s ease-in-out;
                box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.26);
                transform: scale(1.005);
                .block{
                  &__overlay{
                    opacity: 0.87;
                    transition: 0.42s ease-out;
                  }
                  &__bg-image{
                    transform: scale(1.35);
                    transition: 2s ease-out;
                  }
                }
              }
          }
        }
    }
}

.item-stack{
    padding-bottom: 64px;
    margin-bottom: 64px;
    border-bottom: 1px $colorGrey900 solid;
    &__image{
        margin: auto;
        width: 100px;
        img{
            fill: $colorRed500;
        }
    }
    &__content{
        text-align: center;
        .title{
            text-align:center; 
            margin-bottom: 48px;
        }
    }
    &.last-item{
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
    }
}

.social-media-area{
    ul{
        list-style-image: none;
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        li{
            padding: 16px;
            transition: 0.42s ease-out;
            svg{
                fill: $colorGrey700;
            }
            &:first-child{
                padding-left: 0;
            }
            &:last-child{
                padding-right: 0;
            }
            &:hover{
                transition: 0.42s ease-out;
                svg{
                    fill: #000;
                }
            }
        }
    }
}